*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
input{
    border:none;
    background-color:rgba(255, 255, 255, 0.3);
    width:400px;
    height:60px;
    border-radius:20px;
    font-size:25px;
    text-indent:20px;
    vertical-align:middle;
}
ul,li{
    list-style:none;
}
body{
    position:relative;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow-y: auto;
    overflow-x:hidden;
}
h1{
    color: rgba(255, 255, 255, 0.8);
}
.active{
    color: tomato;
    transition: color .3s ease-in-out;
}
.hidden{
    display:none;
}
img{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
}
.clock{
    font-size:100px;
    letter-spacing:10px;
    color:rgba(255, 255, 255, 0.5);
    /* -webkit-text-stroke-width:4px;
    -webkit-text-stroke-color:rgb(149, 182, 242); */
}
.login-Form{
    margin-top:30px;
}
.login-Form input::placeholder{
    font-size:25px;
    color:#fff;
}
.login-Form button{
    border:none;
    background-color:lightblue;
    width:150px;
    height:60px;
    font-size:30px;
    font-weight:bold;
    color:#fff;
    vertical-align:middle;
}
.greeting{
    margin-top:30px;
    font-size:40px;
}
.todo-form{
    margin-top:30px;
}
.todo-form input{
    width:500px;
}
.quotes{
    margin:70px 0;
    font:18px;
    letter-spacing:1px;
    color:#fff;
}
.todo-list{
    margin-top:20px;
}
.todo-list li{
    margin-top:10px;
    padding:20px;
    width:400px;
    font-size:20px;
    font-weight:bold;
    color:rgb(105, 127, 167);
    border-bottom:2px solid rgb(105, 127, 167);
    /* background-color:rgba(255, 255, 255, 0.5); */
}
.todo-list button{
    float:right;
    width:30px;
    height:30px;
    border:none;
    background-color:rgba(255, 255, 255, 0);
    font-size:20px;
    color:rgb(105, 127, 167);
    vertical-align:middle;
}